#story {
    display: none;
  }
h1 {
    text-align: center
}

/* #tryAgain {
	background-color: #ff6600; 
	background-image: url(img/background.png); background-repeat: repeat-x">
    background-color: #ff6600; 
    background-image: url(img/background.png);
	background-repeat: repeat-x;
} */